<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790562046146-a52hpvun90sfhlninj9ieg43q9fkdolt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790562046146-a52hpvun90sfhlninj9ieg43q9fkdolt</string>
	<key>API_KEY</key>
	<string>AIzaSyABxHpjStEnw5STjUB9-WmmjLIrn61cYwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>790562046146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teed.deliclub</string>
	<key>PROJECT_ID</key>
	<string>cental-en-linea</string>
	<key>STORAGE_BUCKET</key>
	<string>cental-en-linea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790562046146:ios:69457cf2f8cdc246f07b5b</string>
	<key>DATABASE_URL</key>
	<string>https://cental-en-linea.firebaseio.com</string>
</dict>
</plist>